body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f8f9fa;
    margin-bottom: 60px; /* Add space at the bottom for the fixed footer */
}

h1, h2, h3 {
    color: #343a40;
}

p {
    font-size: 18px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand img {
    width: 40px; 
    height: auto; 
    margin-top: 10px;
}


.jumbotron {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
}

img {
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Add hover effect to the Sign Up button */
#signUpButton {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#signUpButton:hover {
    background-color: #e9f3eb; /* Darker green on hover */
    color: black;
  
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 1000; /* Ensure footer is above other content */
}
