body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f8f9fa;
    margin-bottom: 60px; 
}

/* Hero Section */
.hero-section {
    background-image: url('images/banner.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;
}

/* Coach Section */
.coach{
    padding-top: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 15px;
}



h1, h2, h3 {
    color: #343a40;
}

p {
    font-size: 18px;
}



.navbar-brand {
    font-weight: bold;
}

.navbar-brand img {
    width: 40px; 
    height: auto; 
    margin-top: 10px;
}

.jumbotron {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
}

/* Add hover effect to the Sign Up button */
#signUpButton {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#signUpButton:hover {
    background-color: #e9f3eb; 
    color: black;
  
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px ;
    font-size: 1000px;
    z-index: 1000; /* Ensures footer is above other content */
}
